.sliderControls {
  margin-top: 45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}

.sliderInfo,
.sliderButtons {
  margin-top: 2.25rem;
}

.artist {
  margin-top: 0.5rem;
}

.sliderNextButton {
  background-image: url('src/assets/shared/button-right.svg');
  width: 1.6rem;
  height: 1.5rem;
  background-size: cover;
}

.sliderPrevButton {
  background-image: url('src/assets/shared/button-left.svg');
  width: 1.6rem;
  height: 1.5rem;
  background-size: cover;
  margin-right: 3rem;
}

.sliderNextButton:hover {
  background-image: url('src/assets/shared/button-right_hover.svg');
}

.sliderPrevButton:hover {
  background-image: url('src/assets/shared/button-left_hover.svg');
}
