* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #000;
  font-family:
    Libre Baskerville,
    serif;
  font-size: 1rem;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
}

h2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button {
  color: #7d7d7d;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:hover {
  color: #000;
}

a {
  color: #7d7d7d;
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.12056rem;
  text-decoration-line: underline;
}

a:hover {
  color: #000;
}
